10267-12/003-ConsomeWCFAssincrono/Service References/ProxyGenero/GeneroService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45989/GeneroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_001_WCF" />
  <xs:element name="GetFirst10">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirst10Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_001_WCF" minOccurs="0" name="GetFirst10Result" nillable="true" type="q1:ArrayOfGenero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_001_WCF" minOccurs="0" name="GetByIdResult" nillable="true" type="q2:Genero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>